.myMenu{
    width: 100%; 
    /* height: 80px; */
    top: 0;
    position: absolute;
    display: block;
    background-color: #580000;
}
.navLink{
    color: #C0C0C0 !important;
    padding: 15px !important;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
.navLink:hover{
    color: #fff !important;
    
}

.navButton{
    color: maroon;
    background-color: #fff !important;
    border: none;
    font-weight: bold;
    /* margin-top: 8px; */
    font-size: 14px !important;
    display: inline;
    
}
.navButton:hover{
    color: maroon;
    border: solid #ffffff 2px;
}
.navbutton-link{
    text-decoration: none;
}
.contact, .careers, .services, .partners{
    text-decoration: none !important;
}