.calousel-main{
    background-color: var(--bs-body-color);
    border-bottom-right-radius: 100px;
    font-family: 'PT Sans', sans-serif;
    overflow: hidden;
    height: 420px;
    margin-top: 80px;
    max-height: 450px;
}
.calousel-main2{
    width: 90%;
    height: auto;
}
.calousel-left{
        width: 50%;
    
}
.calousel-right{
    width: 50%;
    /* height: 400px; */
}
.item{
        height: 100%;
}

.text-buttons{
        text-align: center;
        color: black;
}
.hero-text{
        margin-top: 5em;
        color: #ffffff;
        padding: 5px;
        text-align: left;       
}
.hero-para{
        /* font-size: 1.4vw; */
        font-size: calc(21px - 5px);
        font-family: 'PT Sans', sans-serif;
        
}
.hero-head{
        /* font-size: 4.8vw; */
        font-size: calc(48px - 5px);
        color: #fff;
        /* font-family: sans-serif; */
        font-family: 'PT Sans', sans-serif;
        font-weight: 600;
        line-height: 0.9em
}
.button1{
        border: none;
        outline: 0;
        display: inline-block;
        color: #ffffff;
        background-color: maroon;
        text-align: center;
        cursor: pointer;
}
.button2{
        border: 1px solid #ffffff;
        outline: 0;
        display: inline-block;
        color: #ffffff;
        background-color: var(--bs-body-color);
        text-align: center;
        cursor: pointer;
}
.button1:hover{
        background-color: #555;
        color: white;
}
.button2:hover{
        background-color: #555;
        color: white;
}
.hero-svg{
        padding: 10px;
        display: flex;
        justify-content: flex-start;
        
}
.scribbled{
        height: 35px;
}
.hero-text2{
        text-align: left;
        font-size: 12px;
        color: #ffffff;
}
.hero-svg2{
        position: absolute;
        opacity: .9;
        top: 25%;
        left: 43%;
}
.mysvg{
        position: absolute;
        top: 90%;
        z-index: 0;
}
.hero-img{
        position: relative;
        width: 100%;
        height: 100%;
        top: 10%;
}
.hero1{
        position: absolute;
        height: 100%;
        width: 100%;
        /* top: 10%; */
        z-index: 999;
        border-top-left-radius: 5em;
        border-bottom-right-radius: 5em;
}

