.job-box{
    margin: 5px 0px 20px 0px;
}
.job-grid-card{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    justify-content: space-between;
    align-items: stretch;
    padding: 5px;
    border-radius: 5px;
}
.job-details-card{
    margin-left: 5px;
}
.job-button{
    background-color: maroon;
    outline: none;
    border: solid 2px maroon;
}
.job-button:hover{
    background-color: #ec9706;
    border: none;
}