
.orange-box{
    /* content: ""; */
    border: solid 2px orange;
    height: 110px;
    width: 70px;
    position: absolute;
    opacity: .45;
    left: 47%;
    margin-top: -3em;
    z-index: 0;
}
.services-section{
    background-color: rgba(252, 243, 226, 0.603);
    font-family: 'Roboto', sans-serif;
}
.our-services{
    height: auto;
    width: 80%;
}
.we-do h6{
    padding-top: 2em;
    /* font-size: 1.3vw; */
    color: orange;
    text-align: center;
}
.our-service h4{
    font-weight: bold;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}
.service-para{
    font-size: 13px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
}
.grid-icon{
    margin-top: 10px;
    margin-left: 1em;
}
.show-grid{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}
.show-grid2{
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    margin-top: 2em;
    /* padding-top: 2em; */
}
 .grid1{
     background-color: #ffffff;
     margin-top: 2em;
     /* display: flex; */
     /* justify-content: space-between; */
     /* align-items: center; */
     /* flex-direction: column; */
     border-radius: 5px;
     border: solid .5px #000;
 }
 .grid2-web{
     background-color: #ffffff;
     margin-top: 2em;
     border-radius: 5px;
     border: solid .5px #000;
     background-size: contain;
     background-repeat: no-repeat;
     background-image: url("../../assets/images/webd.png");

 }
 .service-overlay{
    background:rgba(0,0,0,0.6);
    overflow: hidden;
    height: 100%;
    width: 100%;
 }
 .grid3{
     background-color: #ffffff;
     margin-top: 2em;
     border-radius: 5px;
     border: solid .5px #000;
 }
 .grid4{
    background-color: #ffffff;
    margin-bottom: 2em;
    border-radius: 5px;
    border: solid .5px #000;
}
.grid5{
    background-color: #ffffff;
    margin-bottom: 2em;
    border-radius: 5px;
    border: solid .5px #000;

}
.grid6{
    background-color: #ffffff;
    margin-bottom: 2em;
    border-radius: 5px;
    border: solid .5px #000;

}
.grid-service{
    padding: .5em;
    margin-top: 2em;
    text-align: center;
}
.grid-service h4{
    font-weight: bolder;
    color: #ffffff;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px; */
}
.grid-service-web{
    /* background-image: url("../../assets/images/webd.png"); */
    background-color: red;
    padding: .5em;
    margin-top: 2em;
    text-align: center;
    background-size: cover;
}